/*Public styling*/
/**********************************************************/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: #222222; }

::-webkit-scrollbar-thumb {
  background: #1b1e21; }

::-webkit-scrollbar-track {
  background: #f0f0f0; }

body {
  background: #f0f0f0; }

input[type=checkbox] {
  -webkit-appearance: none;
  background-color: #fafafa;
  border: 1px solid #cacece;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 6px !important;
  border-radius: 3px;
  display: inline-block;
  position: relative; }

input[type=checkbox], input[type=checkbox]:checked:active {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1); }

input[type=checkbox]:checked {
  background-color: #9f191f;
  border: 1px solid #adb8c0;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
  color: #99a1a7; }

input[type=checkbox]:checked:after {
  content: '\2714';
  font-size: 14px;
  position: absolute;
  top: -4px;
  left: 0px;
  color: #f0f0f0; }

/**********************************************************/
/*Table Style*/
table, tr, td {
  background: #3e575d !important;
  color: #c7eed8; }

/*Form Style public*/
form {
  background-color: #fff;
  padding-top: 15px; }

.form_del {
  display: inline-block;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  margin-top: 10px; }

/*---------------------------------------------------------------------------------------------*/
/*for all index no-data style*/
.no-data-img {
  text-align: center !important; }

/*Category Style*/
#form-category {
  padding: 20px; }

#form-category-name {
  margin-bottom: 5px; }

td {
  overflow: auto; }
  td .categ-description {
    width: 200px;
    max-height: 150px;
    text-align: justify;
    margin-left: 20px; }

#btn-category {
  width: 100%;
  margin-top: 0; }

#label-category-name {
  font-size: 20px;
  text-align: center; }

/*Error Style*/
.content-error {
  list-style-position: inside;
  padding-left: 0; }

/*User Style*/
.user-icon {
  position: relative;
  display: inline-block;
  top: 0;
  left: 80%;
  background: #0d6aad;
  width: 75px;
  height: 75px; }

.user-img {
  padding: 2px !important;
  margin-bottom: 15px;
  margin-left: 50% !important;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 200px !important;
  height: 200px !important; }

.fa.fa-venus {
  color: #db0ead !important; }

.fa.fa-mars-stroke {
  color: #0d6aad !important; }

/****************************/
/*Welcome Styling*/
/* Palette */
/* Navigation Bootstrap */
/* Footer */
.dashboard-header {
  position: relative;
  top: 60px;
  margin-bottom: 50px;
  text-align: center; }

.dashboard-count {
  position: relative;
  top: 100px;
  color: #fff;
  text-decoration: none !important; }
  .dashboard-count .panel-body {
    position: relative;
    height: 300px !important;
    overflow: hidden; }
    .dashboard-count .panel-body .white-circle1 {
      position: absolute;
      left: -30px;
      top: 100px;
      width: 100px;
      height: 90px;
      background: #fff;
      -webkit-box-shadow: 5px 5px 3px #9f191f;
      box-shadow: 5px 5px 3px #9f191f;
      border-radius: 50%;
      opacity: 0.2; }
    .dashboard-count .panel-body .white-circle2 {
      position: absolute;
      left: -20px;
      top: 150px;
      width: 100px;
      height: 110px;
      background: #fff;
      -webkit-box-shadow: 5px 5px 3px #9f191f;
      box-shadow: 5px 5px 3px #9f191f;
      border-radius: 50%;
      opacity: 0.2; }
    .dashboard-count .panel-body i {
      display: inline-block;
      position: absolute;
      font-size: 130px;
      right: 20px;
      top: 70px;
      color: #fff;
      opacity: 0.5;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
    .dashboard-count .panel-body:hover i {
      font-size: 150px; }
    .dashboard-count .panel-body .name-span {
      font-size: 28px;
      text-align: center;
      display: block;
      position: absolute;
      top: 10px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      margin-bottom: 10px; }
    .dashboard-count .panel-body .count-span {
      font-size: 28px;
      text-align: center;
      display: block;
      position: absolute;
      bottom: 10px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }
  .dashboard-count:first-child .panel-body {
    background: -webkit-gradient(linear, right top, left top, from(#8E2DE2), to(#4A00E0));
    background: -webkit-linear-gradient(right, #8E2DE2, #4A00E0);
    background: -o-linear-gradient(right, #8E2DE2, #4A00E0);
    background: linear-gradient(right, #8E2DE2, #4A00E0); }
  .dashboard-count:nth-child(2) .panel-body {
    background: -webkit-gradient(linear, right top, left top, from(#0052D4), color-stop(#4364F7), to(#6FB1FC));
    background: -webkit-linear-gradient(right, #0052D4, #4364F7, #6FB1FC);
    background: -o-linear-gradient(right, #0052D4, #4364F7, #6FB1FC);
    background: linear-gradient(right, #0052D4, #4364F7, #6FB1FC); }
  .dashboard-count:nth-child(3) .panel-body {
    background: -webkit-gradient(linear, left top, right top, from(#fffbd5), to(#b20a2c));
    background: -webkit-linear-gradient(left, #fffbd5, #b20a2c);
    background: -o-linear-gradient(left, #fffbd5, #b20a2c);
    background: linear-gradient(left, #fffbd5, #b20a2c); }

.dashboard-last {
  margin-top: 150px; }

.no-data img:nth-child(2) {
  -webkit-box-shadow: 2px 2px 2px #5e5e5e;
  box-shadow: 2px 2px 2px #5e5e5e; }

.form-inline {
  padding: 10px; }
  .form-inline table {
    margin-top: 6px; }
    .form-inline table td {
      overflow: auto; }
      .form-inline table td .book-description {
        width: 200px;
        max-height: 150px;
        text-align: justify;
        margin-left: 20px; }
