a {
    color: #fff;
}
.logo-bookbar {
    width: 25px;
    display: inline-block;
    vertical-align: middle;

}

.logo-text {
    font-size: 18px;
    font-weight: bold;
    line-height: 10px;
    vertical-align: middle;
    display: inline-block;
}

.nav-search {
    background: #1b1e21 !important;
}

.book-bar-btn-b {
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
    height: 50px;
    font-size: 20px;
    border-radius: 2px!important;
    background: #1b1e21!important;
    border-color: #1d2124!important;
    color: #fff;
    font-weight: 700;
}

.home_search_for {
    border: 2px solid #fff!important;
    padding-left: 55px;
    font-size: 1.15 em;
}

.home-search-for-i {
    color: #1d2124;
    top: 22px;
    left: 22px;
    position: absolute;
    font-size: 25px!important;
}

.search-home {
    background: #163758;
    border-radius: 0;
}

.upload-link-in-search {
    position: relative;
    color: #00a157;
    top: 15px;
    font-size: 18px;
    text-decoration: none;

}

.upload-link-in-search:hover {
    text-decoration: none;
    color: #00a157;
    opacity: 0.8;

}

/*Home categories bread crumbs*/
.breadcrumb-item {
    padding: 10px;
    border-radius: 15px;
    margin-left: 5px;
}
.breadcrumb-item:hover {
    background: #163758;
    opacity: 0.5;
    cursor: pointer;


}
.breadcrumb-item:hover a {
    color: #fff;
    text-decoration: none;
}

.breadcrumb-item:first-child {
    background: #163758;
    color: #fff;

}
.breadcrumb-item a{
    color: #1a2226;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: '|';
}
/*Home Cards*/

.book-restult {
    padding: 15px;
    padding-top: 30px;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 30px;
    border: 2px solid #dcdcdc!important;
    position: relative;
}

.book-restult .book_rating_avg {
    color: #ffb300;
    position: absolute;
    top: 7px;
    right: calc(50% - 42px);
}

.book-restult .book_rating_count {
    color: #545454;
}

.img-a {
    display: inline-block;
    padding: 2px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
}

.book_photo_container_results {
    width: 128px;
    height: 180px;
    border-radius: 5px;
    position: relative;
}

.book-restult img {
    border-radius: 4px;
    width: 100%;
    height: 100%;
}

.book-restult h3 {
    margin-top: 15px;
    font-size: 14px;
    line-height: 24px;
    color: #000;
    height: 47px;
    overflow: hidden;
}

.book-restult p {
    color: #1bbc9c;
    line-height: 25px;
    height: 22px;
    overflow: hidden;
    margin-bottom: 0;
    font-size: 13px;
}

 /*Book View*/

   .desk-book-view {
       position: relative;
   }
.the-box {
    padding: 30px;
    background: #fff;
    border-radius: 2px;
    margin-bottom: 30px;
    border: 2px solid #dcdcdc;
    position: relative;
}

.media:first-child {
    margin-top: 0;
}

.media, .media-body {
    overflow: hidden;
    zoom: 1;
}


.desk-book-view .media-left {
    padding-left: 25px;
}
.media-left, .media>.pull-left {
    padding-left: 20px;
}
.media-left, .media>.pull-left {
    padding-left: 10px;
    padding-right: initial;
}
.media-body, .media-left, .media-right {
    display: table-cell;
    vertical-align: top;
}
.media-left, .media>.pull-left {
    padding-right: 10px;
}

.desk-book-view .media-left .book_page_img_container_parent {
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    padding: 2px;
}

.book_page_img_container {
    height: 255px;
    width: 180px;
    border-radius: 5px;
    position: relative;
}

.desk-book-view .media-object {
    margin: auto;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    height: 100%;
}
.media-object {
    display: block;
}

.media, .media-body {
    overflow: hidden;
    zoom: 1;
}


.desk-book-view .media-heading {
    font-size: 25px;
    margin-bottom: 10px;
    line-height: 33px;
    margin-left: -380px;
}

.book-first-details .book_rating, .media .book_rating {
    color: #ffb400;
    font-size: 18px;
    margin-left: -365px;
}
.m-b-5 {
    margin-bottom: 5px!important;
}
.rating-top-to-img {
cursor: pointer;
display: inline-block;
}

td a {
    color: #163758;
}

tr {
    text-align: justify;
}

.f-s-20 {
    font-size: 20px!important;
}
.naskh-r {
    font-family: naskh-r,Helvetica,Arial,sans-serif;
}

.book_data_table tr td:first-child {
    padding-left: 5px;
    min-width: 110px;
    vertical-align: top;
}
.book_data_table tr td {
    padding-top: 7px;
}
.modal-lg {
    width: 80% !important;
}
.modal-body {
    width: 80% !important;
}